@import "../../scss/vars.scss";

.nav-list {
  max-width: $max_width;
  display: flex;
  margin: 0 auto;
  padding: 0;
  .nav-item {
    button {
      @include button(1rem);
      width: 5rem;
      padding: 1rem 0;
      &:hover {
        font-weight: bold;
      }
      &.active {
        background-color: #547ea7;
        color: white;
      }
    }
  }
}
